$mainFont: "Roboto", sans-serif;
$defaultGap: 30px;
$wideGap: 7em;
$box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
$default-transition: all 0.3s ease-in;

//colorTheme
$primary: rgb(25, 192, 120);
$light: rgb(248, 248, 248);
$secondary: rgb(201, 218, 208);
$accent: rgb(255, 0, 157);
$dark: rgb(29, 29, 29);

$error: rgb(205, 45, 45);
$info: rgb(45, 93, 205);
$warning: rgb(255, 187, 0);
