@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./styles/globalStyles/variables.scss";
.hide {
	display: none;
	width: 0px;
	opacity: 0;
}
body {
	padding: 0;
	margin: 0;
	background-color: $light;
	font-family: $mainFont;
	color: $dark;
}
button,
input {
	border: 0;
	padding: 1em 0;
	font-size: 15px;
	transition: $default-transition;

	&:focus {
		border: 0;
		outline: none;
	}
}
input,
label {
	text-indent: 1em;
}
label {
	margin-bottom: 5px;
	font-weight: bold;
	order: -1;
}
input {
	&:not([type="submit"]) {
		&:focus,
		&:hover {
			box-shadow: $box-shadow !important;
		}
	}
	&[type="submit"] {
		cursor: pointer;
	}
}
input.error {
	border: 1px red solid;
	color: red;
}
